<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Just Another Day At Tiny World Machine Inc.</title>

		<link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

        <style type="text/css" media="screen">
            body {
                font-family: 'VT323', sans serif;
                font-size: 16px;
                background: #b5b5b5;
            }
            h1 {
                text-align: center;
				font-weight: normal;
				font-size: 48px;
            }
            h2 {
                margin: 0px;
				padding-bottom: 3px;
            }
			p
			{
				margin: 0px;
				padding: 0px;
			}
			.important
			{
				font-weight: bold;
			}
			
            .cocos2d-app {
                border: 1px solid #fff;
                width: 320px;
                height: 320px;
                display: block;
                margin: 0 auto;
                box-shadow:   0 3px 10px rgba(0, 0, 0, 0.75);
            }

			#pageDiv 
			{
			margin-left:auto;
			margin-right:auto;
				width: 700px;
			}
			#rightDiv 
			{
				float: right;
				width: 160px;
			}
			#leftDiv 
			{
				float: left;
				width: 160px;
			}
			#statsDiv 
			{
				height: 240px;
			}
			#goalDiv 
			{
				border: 1px solid black;
				height: 80px;
				padding-left: 10px;
			}
			#controlsDiv 
			{
				height: 240px;
			}
			#cultureDiv 
			{
				border: 1px solid black;
				height: 80px;
				padding-left: 10px;
			}
			#gameDiv 
			{
			}
			#messageDiv 
			{
				height: 174px;
				overflow: hidden;
				margin-top: 10px;
			}
        </style>

		<script type="text/javascript" src="http://hi-scor.es/ld23/scripts/astar/astar.js"></script>
		<script type="text/javascript" src="http://hi-scor.es/ld23/scripts/astar/graph.js"></script>
		<script type="text/javascript" src="http://hi-scor.es/ld23/scripts/state-machine.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">
		function bgColorChanged()
		{
			var color ='#'+document.getElementById('bgcolorInput').color
			document.getElementsByTagName('BODY')[0].style.backgroundColor = color;
			worldBg = color;
		}
		function textColorChanged()
		{
			var color ='#'+document.getElementById('textcolorInput').color
			document.getElementsByTagName('BODY')[0].style.color = color;
			$('#goalDiv').css('border-color',color);
			$('#cultureDiv').css('border-color',color);
			worldBg = color;
		}
		</script>
    </head>
    <body>
        <h1>Tiny World Machine Inc.</h1>

		<script type="text/javascript" src="http://hi-scor.es/ld23/scripts/jscolor/jscolor.js"></script>
		
		<div id='pageDiv'>
			<div id='leftDiv'>
				<div id='statsDiv'>
					<span id='fishCount'>fish: 0</span><br/>
					<span id='plantCount'>plants: 0</span><br/>
					<span id='bearCount'>bears: 0</span><br/>
					<span id='hunterCount'>hunters: 0</span><br/>
				</div>
				
				<div id='goalDiv'>
					<h2>Current Goal</h2>
					<span id='currentGoal'>
				</div>
			</div>
			
			<div id='rightDiv'>
				<div id='controlsDiv'>
					w - water<br/>
					g - grass<br/>
					m - mountains<br/>
					e - erase<br/>
					<br/>
					r - toggle run<br/>
					<br/>
					change bg color: <input id="bgcolorInput" class="color {pickerClosable:true}" onchange="bgColorChanged();"><br/>
					change text color: <input id="textcolorInput" class="color {pickerClosable:true}" onchange="textColorChanged();"><br/>
				</div>
				
				<div id='cultureDiv'>
					<h2>CULTURE!</h2>
					<span id='cultureCount'>0 Culture</span>
				</div>
			</div>
			
			<div id='gameDiv' class="cocos2d-app">
			    Loading Tiny World Machine Inc...
			    ${scripts}
			</div>
			
			<div id='messageDiv'>
			</div>
		</div>
		
    </body>
</html>
