<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Tiny Campbell</title>
        <style type="text/css" media="screen">
            body {
                font-family: Helvetica, Arial, sans-serif;
                font-size: 10pt;
                background: #fff;
            }
            h1 {
                text-align: center;
                text-shadow: 0 2px 1px #fff;
            }
            .cocos2d-app {
                border: 1px solid #fff;
                width: 320px;
                height: 320px;
                display: block;
                margin: 0 auto;
                -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
                -moz-box-shadow:    0 3px 10px rgba(0, 0, 0, 0.75);
                -o-box-shadow:      0 3px 10px rgba(0, 0, 0, 0.75);
                box-shadow:         0 3px 10px rgba(0, 0, 0, 0.75);
            }
        </style>

		<script type="text/javascript">
		function bgColorChanged()
		{
			var color ='#'+document.getElementById('colorInput').color
			document.getElementsByTagName('BODY')[0].style.backgroundColor = color;
			worldBg = color;
		}
		</script>
    </head>
    <body>
        <h1>Tiny Campbell</h1>

		<script type="text/javascript" src="http://jscolor.com/jscolor/jscolor.js"></script>
		Select color: <input id="colorInput" class="color {pickerClosable:true}" 
			onchange="bgColorChanged();"><br/>
		e - erase<br/>
		w - water<br/>
		m - mountains<br/>
		g - grass<br/>
		r - toggle run<br/>
        <div id='gameDiv' class="cocos2d-app">
            Loading Tiny Campbell...
            ${scripts}
        </div>
    </body>
</html>
